@model AddEditVM
@{
    ViewData["Title"] = "Add";
}

<h1>@(Model==null ? "Adicionar" : "Editar") Produto</h1>

@*<div>
    @Html.ValidationSummary(false);
</div>*@

<form method="post">
    <div class="form-row">

        <div class="form-group col-md-6">
            <label asp-for="Nome" for="Nome"></label>
            <input type="text" asp-for="Nome" class="form-control" name="Nome" autofocus>
            @*@Html.ValidationMessageFor(m=>m.Nome)*@
            <span asp-validation-for="Nome" style="color:red"></span>
            
        </div>

        <div class="form-group col-md-4">
            <label for="Categoria" asp-for="CategoriaId"></label>
            <select asp-for="CategoriaId" asp-items="ViewBag.Categoria" class="form-control">
                <option selected value="">Escolha...</option>
            </select>
           @* @Html.ValidationMessageFor(m => m.CategoriaId)*@
            <span asp-validation-for="CategoriaId" style="color:red"></span>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ValorUnitario" asp-for="ValorUnitario"></label>
            <input type="text" asp-for="ValorUnitario" class="form-control" name="ValorUnitario">
            @*@Html.ValidationMessageFor(m => m.ValorUnitario)*@
            <span asp-validation-for="ValorUnitario" style="color:red"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="@Url.Action("")">content</a>
</form>