<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="/">Pagina Inicial</a>
        <a href="/Clientes">Clientes</a>
        <a href="/Home/Sobre">Sobre</a>
    </nav>

    @RenderBody()

</body>
</html>