
@{
    ViewData["Title"] = "UserInformation";
}

<h1>UserInformation de @User.Identity.Name</h1>

<p>Suas Claims:</p>
<ul>
    @foreach (var claim in User.Claims)
    {
        <li>@claim.Type</li>
    }
</ul>


